[submodule "repos/DALIGNER"]
	path = repos/DALIGNER
	url = git://github.com/bio-nim/DALIGNER.git
	branch = develop
[submodule "repos/DAZZ_DB"]
	path = repos/DAZZ_DB
	url = git://github.com/bio-nim/DAZZ_DB
	branch = develop
